/* Tailwind Core */
@import 'tailwindcss';

/* ReUI Configs */
@import './config.reui.css';

/* Custom Breakpoints for Tailwind v4 */
@theme {
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-mlg: 980px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
}

/** Global Styles **/
@layer base {
  * {
    @apply border-border;
  }

  *:focus-visible {
    @apply outline-ring rounded-xs shadow-none outline-2 outline-offset-3 transition-none!;
  }
}

/* Metronic Components  */
@import './components/image-input.css';
@import './components/apexcharts.css';
@import './components/leaflet.css';
@import './components/rating.css';
@import './components/image-input.css';
@import './components/scrollable.css';

/* Demos */
@import './demos/demo1.css';

/** Dark/Light Theme Variant **/
@custom-variant dark (&:is(.dark *));
@custom-variant light (&:not(.dark *));
:root {
  /* your site-wide primary color used by the cursor trail */
  --primary-color: #408bff;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* Cursor trail effect */
body:hover > #trailer {
  opacity: 1;
}

#trailer {
  /* background-color: rgba(255, 255, 0, 0.69); */
  background-color: var(--primary-color, rgba(64, 139, 255, 0.8));
  border-radius: 50%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition:
    opacity 500ms ease,
    transform 0.1s ease;
  /* box-shadow: 0 0 15px 5px rgba(255, 255, 0, 5.5); */
  box-shadow: 0 0 90px 30px var(--primary-color, rgba(64, 139, 255, 0.5));

  /* 0 0: Offset (no horizontal or vertical offset)
  90px: Blur radius (jyada bada blur radius for this effect
  30px: Spread radius (controls how far the shadow extends outwards) */
}
